@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

:root {
  --color-primary: #000;
  --color-body: #000;
  --color-text: #fff;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
}

body {
  background-color: var(--color-body);
  color: var(--color-text);
  font-family: "Fustat", sans-serif;
  cursor: url('./assets/favicon.png'), auto;
  @apply max-w-[1440px] mx-auto;
}

button:hover, a:hover {
  cursor: url('./assets/favicon.png'), pointer;
}